USE [master]
GO
/****** Object:  Database [Forum]    Script Date: 4/23/2022 2:18:35 PM ******/
CREATE DATABASE [Forum]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Forum', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Forum.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Forum_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Forum_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Forum].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Forum]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 4/23/2022 2:18:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[parentId] [bigint] NULL,
	[title] [nvarchar](255) NOT NULL,
	[slug] [nvarchar](255) NOT NULL,
	[content] [nvarchar](max) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chat]    Script Date: 4/23/2022 2:18:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chat](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[fromId] [bigint] NOT NULL,
	[toId] [bigint] NOT NULL,
	[message] [ntext] NOT NULL,
 CONSTRAINT [PK_Chat] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommentLike]    Script Date: 4/23/2022 2:18:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommentLike](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[authorId] [bigint] NOT NULL,
	[commentId] [bigint] NOT NULL,
	[isLike] [tinyint] NOT NULL,
 CONSTRAINT [PK_CommentLike] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Config]    Script Date: 4/23/2022 2:18:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Config](
	[allowLogin] [bit] NOT NULL,
	[allowRegistry] [bit] NOT NULL,
	[allowPost] [bit] NOT NULL,
	[allowChat] [bit] NOT NULL,
	[Forum] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 4/23/2022 2:18:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[authorId] [bigint] NOT NULL,
	[parentId] [bigint] NULL,
	[title] [nvarchar](255) NOT NULL,
	[slug] [nvarchar](255) NOT NULL,
	[summary] [nvarchar](max) NULL,
	[solved] [bit] NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NULL,
	[content] [nvarchar](max) NULL,
	[slView] [bigint] NULL,
	[type] [bit] NOT NULL,
	[show] [bit] NOT NULL,
 CONSTRAINT [PK_Post] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post_Category]    Script Date: 4/23/2022 2:18:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post_Category](
	[postId] [bigint] NOT NULL,
	[categoryId] [bigint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post_Comment]    Script Date: 4/23/2022 2:18:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post_Comment](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[postId] [bigint] NOT NULL,
	[parentId] [bigint] NULL,
	[authorId] [bigint] NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[updateAt] [datetime] NULL,
	[content] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Post_Comment] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post_Report]    Script Date: 4/23/2022 2:18:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post_Report](
	[postId] [bigint] NOT NULL,
	[content] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostLike]    Script Date: 4/23/2022 2:18:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostLike](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[authorId] [bigint] NOT NULL,
	[postId] [bigint] NOT NULL,
	[isLike] [tinyint] NOT NULL,
 CONSTRAINT [PK_Like] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/23/2022 2:18:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[firstName] [nvarchar](100) NULL,
	[middleName] [nvarchar](100) NULL,
	[lastName] [nvarchar](100) NULL,
	[mobile] [nvarchar](15) NULL,
	[email] [nvarchar](255) NOT NULL,
	[passwordHash] [nvarchar](max) NOT NULL,
	[registeredAt] [datetime] NOT NULL,
	[lastLogin] [datetime] NULL,
	[intro] [nvarchar](max) NULL,
	[profile] [nvarchar](max) NULL,
	[image] [nvarchar](max) NULL,
	[type] [tinyint] NOT NULL,
	[uniqueId] [bigint] NULL,
	[status] [nvarchar](255) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([id], [parentId], [title], [slug], [content]) VALUES (1, NULL, N'Web Developer', N'web-developer', N'Nhà phát triển web là một lập trình viên chuyên môn hóa hoặc đặc biệt tham gia vào việc phát triển các ứng dụng World Wide Web bằng cách sử dụng mô hình client server. Các ứng dụng này thường sử dụng HTML, CSS và JavaScript trong máy khách, PHP, ASP.NET (C #) hoặc Java trong máy chủ và http để liên lạc giữa máy khách và máy chủ. Một hệ thống quản lý nội dung web thường được sử dụng để phát triển và duy trì các ứng dụng web.')
INSERT [dbo].[Category] ([id], [parentId], [title], [slug], [content]) VALUES (3, NULL, N'Android Developer', N'android-developer', N'Phát triển phần mềm Android là quy trình tạo ra các ứng dụng cho hệ điều hành Android. Các ứng dụng chủ yếu được phát triển bằng ngôn ngữ lập trình Java, sử dụng bộ phát triển phần mềm Android, tuy vậy các môi trường phát triển khác cũng có thể được sử dụng. Wikipedia')
INSERT [dbo].[Category] ([id], [parentId], [title], [slug], [content]) VALUES (4, NULL, N'Graphic Developer', N'graphic-developer', N'Thiết kế đồ họa là cụm từ để chỉ một chuyên ngành thuộc về mỹ thuật. Trong đó danh từ "đồ họa" để chỉ những bản vẽ được hiển thị trên một mặt phẳng (đa chất liệu), và động từ "thiết kế" bao hàm ý nghĩa kiến thiết, sáng tạo. Từ đó có thể hiểu, "thiết kế đồ họa" là kiến tạo một hình ảnh, một tác phẩm lên một bề mặt chất liệu nào đó, mang ý nghĩa nghệ thuật nhằm mục đích trang trí, làm đẹp, phục vụ nhu cầu con người')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Chat] ON 

INSERT [dbo].[Chat] ([id], [fromId], [toId], [message]) VALUES (44, 552931, 347541, N'hello mạnh')
INSERT [dbo].[Chat] ([id], [fromId], [toId], [message]) VALUES (45, 347541, 552931, N'hello bin')
SET IDENTITY_INSERT [dbo].[Chat] OFF
GO
SET IDENTITY_INSERT [dbo].[CommentLike] ON 

INSERT [dbo].[CommentLike] ([id], [authorId], [commentId], [isLike]) VALUES (12, 7, 92, 2)
INSERT [dbo].[CommentLike] ([id], [authorId], [commentId], [isLike]) VALUES (14, 7, 90, 2)
INSERT [dbo].[CommentLike] ([id], [authorId], [commentId], [isLike]) VALUES (15, 7, 85, 2)
SET IDENTITY_INSERT [dbo].[CommentLike] OFF
GO
INSERT [dbo].[Config] ([allowLogin], [allowRegistry], [allowPost], [allowChat], [Forum]) VALUES (1, 1, 1, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[Post] ON 

SET IDENTITY_INSERT [dbo].[Post] OFF
GO
INSERT [dbo].[Post_Category] ([postId], [categoryId]) VALUES (3, 1)
INSERT [dbo].[Post_Category] ([postId], [categoryId]) VALUES (6, 1)
INSERT [dbo].[Post_Category] ([postId], [categoryId]) VALUES (48, 1)
GO
SET IDENTITY_INSERT [dbo].[Post_Comment] ON 

INSERT [dbo].[Post_Comment] ([id], [postId], [parentId], [authorId], [createdAt], [updateAt], [content]) VALUES (82, 58, NULL, 7, CAST(N'2022-03-12T14:51:43.870' AS DateTime), NULL, N'npx create-react-app tenapp ')
INSERT [dbo].[Post_Comment] ([id], [postId], [parentId], [authorId], [createdAt], [updateAt], [content]) VALUES (85, 48, NULL, 7, CAST(N'2022-03-12T16:48:16.887' AS DateTime), NULL, N'1. zoom ra zoom vào website')
INSERT [dbo].[Post_Comment] ([id], [postId], [parentId], [authorId], [createdAt], [updateAt], [content]) VALUES (89, 48, NULL, 7, CAST(N'2022-03-12T18:15:07.307' AS DateTime), CAST(N'2022-03-12T18:28:17.447' AS DateTime), N'test update
')
SET IDENTITY_INSERT [dbo].[Post_Comment] OFF
GO
INSERT [dbo].[Post_Report] ([postId], [content]) VALUES (3, N'a')
INSERT [dbo].[Post_Report] ([postId], [content]) VALUES (57, N'report vì bài đăng là spam')
INSERT [dbo].[Post_Report] ([postId], [content]) VALUES (28, N'hay bin')
GO
SET IDENTITY_INSERT [dbo].[PostLike] ON 

INSERT [dbo].[PostLike] ([id], [authorId], [postId], [isLike]) VALUES (1, 7, 56, 2)
INSERT [dbo].[PostLike] ([id], [authorId], [postId], [isLike]) VALUES (2, 7, 46, 2)
INSERT [dbo].[PostLike] ([id], [authorId], [postId], [isLike]) VALUES (3, 7, 44, 2)
SET IDENTITY_INSERT [dbo].[PostLike] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [firstName], [middleName], [lastName], [mobile], [email], [passwordHash], [registeredAt], [lastLogin], [intro], [profile], [image], [type], [uniqueId], [status]) VALUES (6, N'Bạch', N'', N'Bin', N'', N'binlienminh012@gmail.com', N'C1111BD512B29E821B120B86446026B8', CAST(N'2021-11-21T16:01:54.357' AS DateTime), CAST(N'2022-04-23T14:04:54.207' AS DateTime), N'', N'mạnh', N'about1.jpg', 1, 552931, N'Offline')
INSERT [dbo].[Users] ([id], [firstName], [middleName], [lastName], [mobile], [email], [passwordHash], [registeredAt], [lastLogin], [intro], [profile], [image], [type], [uniqueId], [status]) VALUES (7, N'Bạch', N'Văn', N'Mạnh', N'0827700854', N'bachvanmanh06072000@gmail.com', N'75F0817DA202DFFF6C1E8BF6EC5FAD8F', CAST(N'2021-11-21T16:06:11.653' AS DateTime), CAST(N'2022-04-23T14:16:44.223' AS DateTime), N'Bạch Văn Mạnh, 21 tuổi, học tại HUSC', N'Name: Bạch Văn Mạnh
Age: 21
POB: Huế
DOB: 06/07/2000', N'about1.jpg', 2, 347541, N'Online')
INSERT [dbo].[Users] ([id], [firstName], [middleName], [lastName], [mobile], [email], [passwordHash], [registeredAt], [lastLogin], [intro], [profile], [image], [type], [uniqueId], [status]) VALUES (8, N'Hoàng', N'Thế ', N'Huy', NULL, N'huy@gmail.com', N'11967D5E9ADDC5416EA9224EEE0E91FC', CAST(N'2021-11-21T16:06:50.537' AS DateTime), CAST(N'2022-04-23T13:50:55.993' AS DateTime), NULL, N'bạn của mạnh', N'm3.jpg', 0, 427963, N'Offline')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [DF_Category_parentId]  DEFAULT (NULL) FOR [parentId]
GO
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [DF_Category_content]  DEFAULT (NULL) FOR [content]
GO
ALTER TABLE [dbo].[Config] ADD  CONSTRAINT [DF_Config_allowLogin]  DEFAULT ((1)) FOR [allowLogin]
GO
ALTER TABLE [dbo].[Config] ADD  CONSTRAINT [DF_Config_allowRegistry]  DEFAULT ((1)) FOR [allowRegistry]
GO
ALTER TABLE [dbo].[Config] ADD  CONSTRAINT [DF_Config_allowPost]  DEFAULT ((1)) FOR [allowPost]
GO
ALTER TABLE [dbo].[Config] ADD  CONSTRAINT [DF_Config_allowChat]  DEFAULT ((1)) FOR [allowChat]
GO
ALTER TABLE [dbo].[Config] ADD  CONSTRAINT [DF_Config_Forum]  DEFAULT ((1)) FOR [Forum]
GO
ALTER TABLE [dbo].[Post] ADD  CONSTRAINT [DF_Post_parentId]  DEFAULT (NULL) FOR [parentId]
GO
ALTER TABLE [dbo].[Post] ADD  CONSTRAINT [DF_Post_published]  DEFAULT ((0)) FOR [solved]
GO
ALTER TABLE [dbo].[Post] ADD  CONSTRAINT [DF_Post_updatedAt]  DEFAULT (NULL) FOR [updatedAt]
GO
ALTER TABLE [dbo].[Post] ADD  CONSTRAINT [DF_Post_content]  DEFAULT (NULL) FOR [content]
GO
ALTER TABLE [dbo].[Post] ADD  CONSTRAINT [DF_Post_view]  DEFAULT ((0)) FOR [slView]
GO
ALTER TABLE [dbo].[Post] ADD  CONSTRAINT [DF_Post_show]  DEFAULT ((0)) FOR [show]
GO
ALTER TABLE [dbo].[Post_Comment] ADD  CONSTRAINT [DF_Post_Comment_parentId]  DEFAULT (NULL) FOR [parentId]
GO
ALTER TABLE [dbo].[Post_Comment] ADD  CONSTRAINT [DF_Post_Comment_content]  DEFAULT (NULL) FOR [content]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_User_firstName]  DEFAULT (NULL) FOR [firstName]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_User_middleName]  DEFAULT (NULL) FOR [middleName]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_User_lastName]  DEFAULT (NULL) FOR [lastName]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_User_lastLogin]  DEFAULT (NULL) FOR [lastLogin]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_User_intro]  DEFAULT (NULL) FOR [intro]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_User_profile]  DEFAULT (NULL) FOR [profile]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_User_type]  DEFAULT ((0)) FOR [type]
GO
ALTER TABLE [dbo].[CommentLike]  WITH CHECK ADD  CONSTRAINT [FK_CommentLike_Post_Comment] FOREIGN KEY([commentId])
REFERENCES [dbo].[Post_Comment] ([id])
GO
ALTER TABLE [dbo].[CommentLike] CHECK CONSTRAINT [FK_CommentLike_Post_Comment]
GO
ALTER TABLE [dbo].[CommentLike]  WITH CHECK ADD  CONSTRAINT [FK_CommentLike_Users] FOREIGN KEY([authorId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[CommentLike] CHECK CONSTRAINT [FK_CommentLike_Users]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_User] FOREIGN KEY([authorId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_Post_User]
GO
ALTER TABLE [dbo].[Post_Category]  WITH CHECK ADD  CONSTRAINT [FK_Post_Category_Category] FOREIGN KEY([categoryId])
REFERENCES [dbo].[Category] ([id])
GO
ALTER TABLE [dbo].[Post_Category] CHECK CONSTRAINT [FK_Post_Category_Category]
GO
ALTER TABLE [dbo].[Post_Category]  WITH CHECK ADD  CONSTRAINT [FK_Post_Category_Post] FOREIGN KEY([postId])
REFERENCES [dbo].[Post] ([id])
GO
ALTER TABLE [dbo].[Post_Category] CHECK CONSTRAINT [FK_Post_Category_Post]
GO
ALTER TABLE [dbo].[Post_Comment]  WITH CHECK ADD  CONSTRAINT [FK_Post_Comment_Post] FOREIGN KEY([postId])
REFERENCES [dbo].[Post] ([id])
GO
ALTER TABLE [dbo].[Post_Comment] CHECK CONSTRAINT [FK_Post_Comment_Post]
GO
ALTER TABLE [dbo].[Post_Comment]  WITH CHECK ADD  CONSTRAINT [FK_Post_Comment_Users] FOREIGN KEY([authorId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Post_Comment] CHECK CONSTRAINT [FK_Post_Comment_Users]
GO
ALTER TABLE [dbo].[Post_Report]  WITH CHECK ADD  CONSTRAINT [FK_Post_Report_Post] FOREIGN KEY([postId])
REFERENCES [dbo].[Post] ([id])
GO
ALTER TABLE [dbo].[Post_Report] CHECK CONSTRAINT [FK_Post_Report_Post]
GO
ALTER TABLE [dbo].[PostLike]  WITH CHECK ADD  CONSTRAINT [FK_PostLike_Post] FOREIGN KEY([postId])
REFERENCES [dbo].[Post] ([id])
GO
ALTER TABLE [dbo].[PostLike] CHECK CONSTRAINT [FK_PostLike_Post]
GO
ALTER TABLE [dbo].[PostLike]  WITH CHECK ADD  CONSTRAINT [FK_PostLike_Users] FOREIGN KEY([authorId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[PostLike] CHECK CONSTRAINT [FK_PostLike_Users]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0:member 1:manager 2:admin' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'type'
GO
USE [master]
GO
